/* default css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    /* background-image: linear-gradient(150deg, blue, green); */

    background-color: blueviolet;
}
/* default css end */


/* main body */
#calculator{
    width: 550px;
    background-color: #151D3B;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

#calculator h1{
    text-align: center;
    font-size: 35px;
    font-family: cursive;
    color: white;
    background-color: blue;
    padding: 20px 0;
    border-radius: 8px;
}

#calculator .sub-title{
    font-family: sans-serif;
    font-size: 25px;
    color: white;
}

#calculator input{
    width: 100%;
    padding: 15px 15px;
    border-radius: 8px;
    outline: none;
    font-size: 25px;
    margin: 10px 0;
    text-align: center;
    border: none;
}

#calculator input:nth-child(1){
    margin-right: 10px;
}

#calculator input:nth-child(2){
    margin-left: 10px;
}

#calculator .input-area{
    display: flex;
    justify-content: space-between;
}

#calculator input[type="submit"]{
    width: 50%;
    padding: 10px;
}

#calculator input[type="submit"]:hover{
    background-color: blue;
    color: white;
}



#calculator select{
    width: 100%;
    padding: 15px 15px;
    border-radius: 8px;
    outline: none;
    font-size: 25px;
    margin: 10px 0;
    text-align: center;
}

#calculator .output{
    color: #ddd;
    font-size: 20px;
    font-family: sans-serif;
    margin: 20px 0;
}
/* main body end */


/* footer */
footer{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

footer span{
    font-family: sans-serif;
}
/* footer end */